/*propriètés générales*/

body{
    margin:0px;
    width:100%;
}
.container{
    max-width:1420px;
    margin:auto;
    width:80%;
}
*{
    box-sizing:border-box;
}
a{
    color:inherit;
    text-decoration: none;
}
/*version mobile*/

@media screen and (max-width:768px){
    $primaire:#9356DC;
    $secondaire:#FF79DA;
    $tertiaire:#99E2D0;
    $quatrieme:#729396fd;
    .container{
        width:80%;
        padding:20px;
    }   
    /*header*/
    header{
        display:flex;
        justify-content:center;
        width: 100%;
    }
    h1{
        display:flex;
        justify-content:center;
        font-weight:bold;
    }
    /*navigation*/
    .trouvestaville{
    
        display:flex;
        flex-direction:column;
        background-color: $quatrieme;
    }
    .location{
        display:flex;
        justify-content:center;
        background-color: rgb(230, 220, 220);
        border-top:3px solid grey
    }
    .autour{
        margin-left:10px;
    }
    .h2reservez{
        display:flex;
        justify-content:center;
        
    }
    .decouvrez{
        display:flex;
        justify-content:center;
        
    }
    .explorez{
        
        display:flex;
        justify-content:center;    
    }
    /*selection*/
    .filtres{
        display:flex;
        flex-direction:column;  
    }
    ol{
        list-style-type: none;
        width:100%;
        margin:0px;
    }
    li{
        display:flex;
        justify-content:center;  
        width:90%;
        background-color: rgb(250, 246, 246);
         
    }
     
     
         
     
     
}