@charset "UTF-8";
/*propriètés générales*/
@font-face {
  font-family: "Shrikhand"; 
  src: url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.eot");
  src: url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.woff2") format("woff2"), 
       url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.woff") format("woff"), 
       url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.ttf") format("truetype"), 
       url("//db.onlinewebfonts.com/t/8fbe9c7daaf83c054fb161fa16ccfda9.svg#Shrikhand") format("svg");
       }
$prim-color:#9356DC;
$second-color:#FF79DA;
$tert-color:#99E2D0;
$quat-color:rgba(241, 245, 244, 0.992);

body {
  margin: 0px;
  width: 100%;
}

.container {
  max-width: 1420px;
  margin: auto;
  width: 90%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


/*version mobile*/
@media screen and (max-width: 768px) {
  /*header*/
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    h1 {
      @import url(//db.onlinewebfonts.com/c/8fbe9c7daaf83c054fb161fa16ccfda9?family=Shrikhand);
      display: flex;
      justify-content: center;
      font-weight: bold;
      width:150px;
      }
    }

  /*navigation*/
  .trouvestaville {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: $quat-color;
    border-top: 3px solid rgb(187, 186, 186);
    .location {
      display: flex;
      justify-content: center;
      background-color: #dad6d6;
      padding:15px;
      .autour {
        font-family:"roboto" ;
        font-size: 15px;
        margin-left: 10px;
      }
    }
  }

  .h2reservez {
    display: flex;
    justify-content: center;
    padding:20px; 
    margin:0px;
  }

  .decouvrez {
    display: flex;
    justify-content: center;
    padding:0px 20px 20px 20px;
    margin-left:50px;
    }

  .explorez {
    display:flex;
    justify-content: center;
    width:200px;
    border:none;
    padding:15px;
    margin:auto;
    margin-bottom:40px;
    color:white;
    background: linear-gradient($second-color,$prim-color);
    border-radius:30px;
    .textexplore{
      color:white;
      margin:0px;
      }
    }

  /*selection*/
  .selection{
    padding:0px 0px 20px 0px;
  }
  .h2fonctionnement{
    margin-left:20px;
  }
  .filtres{      
    display: flex;
    flex-direction: column;
    ol {
      list-style-type: none;
      width: 100%;
      margin: auto;
      padding:0px;
      li {
        display: flex;
        justify-content: center;
        width: 85%;
        margin:0px 0px 20px 30px;
        padding:15px;
        background-color: $quat-color;
        border-radius:20px;
        box-shadow:2px 3px 3px rgb(216, 214, 214);
        .iconefonct{
          position:relative;
          right:60px;
        }
      }
    }
  }
  .iconefonct1{
    position:relative;
    right:55px;
    margin:0px;
  }
  .rond{
    position:relative;
    right:90px;
    border-radius:100px;
    background-color: $prim-color;
    width:20px;
    .nombre{
      display:flex;
      justify-content:center;
      color:white;
    }
  }
  
  
  
  /*restaurants*/
  .h2restaurants{
    margin:0px 0px 20px 20px;
  }
  .restaurants{
    background-color: $quat-color;
    width:100%;
    padding:30px 0px 40px 0px;
    .cartesresto{
      width:100%;
      .carte{
        display:block;
        width:100%;
        margin:0px;
      }
    }
  }
  .figure{
    margin:0px 15px 15px 15px;
    padding:0px;
    background-color:white;
    border-radius: 15px 15px 15px 15px;
    position:relative;
    .photoresto{
      display:flex;
      object-fit: cover;
      width:100%;
      max-height:200px;
      border-radius:15px 15px 0px 0px;
    }
  }
  .sticker{
    display:flex;
    justify-content:center;
    align-items: center;
    position:absolute;
    width:70px;
    height:25px;
    top:5%;
    left:75%;
    background-color:$tert-color;
    color:#318570;
    font-weight: bold;
    border-radius:2px;
  }
  .figresto{
    position:relative;
    padding-bottom:10px;
    .heart{
      position:absolute;
      right:10px;
      top:10px;
      width:25px;
      height:25px;
    }
  }
  .nomsresto{
    margin:0px;
    padding:10px 0px 0px 10px;
  }
  .villerest{
    margin:0px 0px 10px 10px;
    

  }
  /*footer*/
  .footer{
    margin:auto;
    width:90%;
    background-color:rgb(44, 43, 43);
    color:white;
    ul{
      list-style-type:none;
      padding-left: 20px;
      padding-bottom:30px;
      li{
        padding:0px 0px 10px 0px;
      }
    }  
  }
  .h3footer{
    padding: 20px 0px 0px 20px;
    margin:0px;
  }
}
