/*propriètés générales*/

body{
    margin:0px;
    width:100%;
}
.container{
    max-width:1420px;
    margin:auto;
}
*{
    box-sizing:border-box;
}
a{
    color:inherit;
    text-decoration: none;
}

/*version mobile*/

@media screen and (max-width:768px){
    .container{
        width:100%;
        margin:auto;
        padding:0px 10px 0px 10px;
    }   
    /*header*/
    header{
        display:flex;
        justify-content:center;
        width: 100%;
    }
    h1{
        display:flex;
        justify-content:center;
        font-weight:bold;
    }
    /*navigation*/
    .trouvestaville{
    
        display:flex;
        flex-direction:column;
        background-color: rgb(250, 246, 246);
    }
    .location{
        display:flex;
        justify-content:center;
        background-color: rgb(230, 220, 220);
        border-top:3px solid grey
    }
    .autour{
        margin-left:10px;
    }
    .h2reservez{
        display:flex;
        justify-content:center;
        
    }
    .decouvrez{
        display:flex;
        justify-content:center;
        
    }
    .explorez{
        
        display:flex;
        justify-content:center;    
    }
    /*selection*/
    .filtres{
        display:flex;
        flex-direction:column;  
    }
    ol{
        padding:0px;
        list-style-type: none;
       
        
    }
    li{
        display:flex;
        justify-content:center;  
        width:100%;
        background-color: rgb(250, 246, 246);
         
    }
    /*restaurants*/
    .restaurants{
        background-color:rgb(250, 246, 246);
    }
    .cartesresto{
        display:flex;
        flex-direction:column;
        width:100%;
    }
    .carte{
        display:flex;
        justify-content:center;
        width:100%; 
    }
    figure{
        width:100%;
        background-color:white;
        border-radius:15px 15px 15px 15px;
        position:relative;
    }
    .photoresto{
        height:240px;
        width:100%;
        border-radius:15px 15px 0px 0px;
        object-fit: cover;
    }
    
    .sticker{
        display:flex;
        justify-content:center;
        position:absolute;
        top: 30px;
        right: 30px;
        background-color:#99E2D0;
        color:#176a55 ;
        width:70px;
    }
           
     
     
}
