
/*animation entrées plats desserts*/
.entrees, .plats, .desserts{
  padding:10px;
  opacity:0;
  animation:apparait 1s both;
  ul{
    padding:0px;
    li{
      background-color:white ;
      padding:20px;
      p{
        margin:0px;
        @include bold;
      }
    }
  }
}
.accompagnementprix{
  display:flex;
  justify-content:space-between;
}
.prix{ 
  padding-left: 10px;
}
/* délai animation plats*/
.plats{
  animation-delay: .5s;
}
  
/*délai animation désserts*/
.desserts{
  animation-delay: 1s;
}

