
/*animation entrées plats desserts*/
.entrees, .plats, .desserts{
  padding:10px;
  opacity:0;
  animation:apparait 1s both;
  ul{
    padding:0px;
    li{
      list-style-type: none;
      background-color:white ;
      border-radius:15px 15px 15px 15px;
      padding:20px;
      margin:0px 10px 10px 0px;
      p{
        margin:0px;
        @include bold;
      }
    }
  }
}
.accompagnementprix{
  display:flex;
  justify-content:space-between;
}
.accompagnement{ 
  margin:0px;
  padding-top:10px;
  font-weight:normal ;
}
.prix{
  display:flex;
  @include bold; 
  padding-left: 10px;
}
/* délai animation plats*/
.plats{
  animation-delay: .5s;
}
  
/*délai animation désserts*/
.desserts{
  animation-delay: 1s;
}

