.coeur{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heart{
    font-size:30px;
  }
  .heart2{ 
    position:relative;
    right:30px; 
    font-size:30px;
    transform:scale(0.4);
    opacity: 0;
    background: linear-gradient($second-color,$prim-color);
    transition: transform cubic-bezier(.37,.39,.79,.78) 0.8s ;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-clip:text;
    &:hover{
      opacity:1;
      transform:scale(1);
      cursor:pointer;
    }
  }