.coeur{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heart{
    font-size:30px;
    opacity:1;
    cursor:pointer;
  }
  .heart2{ 
    position:relative;
    right:30px; 
    font-size:30px;
    transform:scale(1);
    opacity: 0;
    background: linear-gradient($second-color,$prim-color);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-clip:text;
    transition: opacity ease-in-out 400ms;
    &:hover{
      opacity:1;
      transform:scale(1);
      cursor:pointer;
    }
  }