/*coeur menu restaurants*/
.heart3{
    position:relative;
    right:52%;
    top:3%;
    font-weight: bold ;
    color:$prim-color;
    font-size:30px;
    transform:scale(0.4);
    transition: transform .8s;
    opacity: 0;
    &:hover{
        opacity:1;
        transform:scale(1);      
    }
}