
.heart2{
    display:none;
    position:absolute;
    font-weight: bold ;
    color:$prim-color;
    right:5%;
    top:20%;
    font-size:30px;
    transform:scale(0.4);
    transition: transform .8s;
    opacity: 0;
    &:hover{
        opacity:1;
        transform:scale(1);
        
    }
}
    
