/*animation li apparaissent les uns après les autres*/
@keyframes apparait{
    0%{
        opacity:0;
    }
    50%{
        opacity:.5;
    }
    100%{
        opacity:1;
    }
}
/*animation rotation check menu*/
@keyframes rotate{
  from{
    transform:rotate(0deg);
    opacity:0;
  }
  to{
    transform:rotate(-360deg);
    opacity:1;
  }
}
@keyframes deplace{
    0%{
      transform:translateX(40px);
      }
    100%{
      transform: translateX(-15px);
    }
}
/*keyframes loader**/
@keyframes loading {
  0% {
    filter: blur(12px);
    opacity: 0;
    z-index: 6;
  }
  10%{
    filter: blur(6px);
    opacity: .2;
    z-index: 6;
  }
  90% {
    filter: blur(0px);
    opacity: 1;
    z-index: 6;
  }
  100% {
      opacity:0;
      z-index: 6;
  }
}
@keyframes loadingout{
  0% {
    filter: blur(12px);
    opacity: 0;
    z-index: 6;
  }
  10%{
    filter: blur(6px);
    opacity: 0;
    z-index: 6;
  }
  90% {
    filter: blur(0px);
    opacity: 0;
    z-index: 6;
  }
  100% {
    opacity:1;
    z-index: 6;
  }
}
  