/*couleurs syllabes*/
.oh{   
    color:$tert-color;
}
.my{ 
    color:$prim-color;  
}
.food{  
    color:$second-color;  
}
/*animation loader*/
.loader{
  @include flexcenter;
  margin:auto;
  height:100%;
  width:100%;
  .ohmyfood{ 
      @include flexcenter;
      align-items: center;
      position:fixed;
      top:0;
      left:0;
      bottom:0;
      right:0;
      opacity:0;
      font-family: "Shrikhand", cursive;
      font-size: 100px;  
      animation: ohmyfood 1s cubic-bezier(0.600, 0.040, 0.980, 0.335) 3 none;   
  }   
}
@keyframes ohmyfood {
  0% {
    filter: blur(12px);
    opacity: 0;
    z-index: 6;
  }
  98% {
    filter: blur(0px);
    opacity: 1;
    z-index: 6;
  }
  100% {
      opacity:0;
      z-index: 6;
  }
}

  