/*couleurs syllabes*/
.oh{   
    color:$tert-color;
}
.my{ 
    color:$prim-color;  
}
.food{  
    color:$second-color;  
}
/*animation loader*/
.loader{
  margin:auto;
  height:100%;
  width:100%;
  background-color: white;
  @include flexcenter;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  opacity:0;
  animation-name: loading;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;  
  .ohmyfood{ 
    display:flex;
    font-family: "Shrikhand", cursive;
    font-size: 60px;  
  }   
}
@keyframes loading {
  0% {
    filter: blur(12px);
    opacity: 0;
    z-index: 6;
  }
  10%{
    filter: blur(6px);
    opacity: .2;
    z-index: 6;
  }
  90% {
    filter: blur(0px);
    opacity: 1;
    z-index: 6;
  }
  100% {
      opacity:0;
      z-index: 6;
  }
}
.container,.footermenu{
  animation-name: loadingout;
  animation-duration: 3.1s;
  animation-direction: normal;
  animation-fill-mode: forwards; 
  z-index:-100;
}
@keyframes loadingout{
  0% {
    filter: blur(12px);
    opacity: 0.2;
    z-index: 6;
  }
  10%{
    filter: blur(6px);
    opacity: 0.2;
    z-index: 6;
  }
  90% {
    filter: blur(0px);
    opacity: 0.2;
    z-index: 6;
  }
  100% {
    opacity:1;
    z-index: 6;
  }
}
  