/*propriètés générales*/
@charset "UTF-8";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_loader.scss";
@import "./_heart2.scss";
body {
  margin: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 6;
}
.container { 
  max-width:900px;
  margin: auto;
  position:relative;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "./_header.scss";

/*navigation*/
.trouvestaville {
  @include flexcenter;
  flex-direction: column;
  background-color: $quat-color;
  border-top: 3px solid rgb(187, 186, 186);
  .location {
    @include flexcenter;
    position:relative;
    background-color: #dad6d6;
    .iconloc{
      position:relative;
      left:20px;
      top:12px;
      margin-right: 6px;
    }
  }
}
.autour {
  font-size: 15px;
  max-width:150px;
  padding:15px;
  font-family:"roboto" ;
  text-align:center;
  background-color:#dad6d6 ;
  border:none;
  @include bold;
}
.reservez {
  @include flexcenter;
  text-align: center;
  padding:20px; 
  margin:0px;
  @include bold;
  p{
    text-align:center;   
  }
}
.decouvrez {
  display: flex;
  text-align: center;
  justify-content: center;
  padding:0px 20px 20px 20px;
  }
.explorez {
  @include flexcenter;
  max-width:220px;
  border:none;
  padding:15px;
  margin:auto;
  margin-bottom:40px;
  background: linear-gradient($second-color,$prim-color);
  border-radius:30px;
  box-shadow:2px 3px 10px grey;
  &:hover{
    box-shadow:2px 3px 10px rgb(63, 62, 62);
    background:linear-gradient(#f381d3,#a66cec);
  }
}
.textexplore{
  color:white;
  margin:0px;
  font-weight: bold;
}

/*selection*/
.selection{
  padding:15px;
}
.fonctionnement{
  font-size: 25px;
  margin:20px 0px 20px 20px;
  @include bold;
}
.filtres{      
  display: flex;
  ol{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding:15px;
    li{
      position:relative;
      @include flexcenter;
      align-items: center;
      padding: 30px 30px 50px 30px;
      background-color: $quat-color;
      border-radius:20px;
      box-shadow:2px 3px 10px rgb(216, 214, 214);
      margin:0px 0px 20px 0px;
      .iconefonct{
        position:absolute;
        left:50px;
      }  
    }
  }
}
.rond{
  position:absolute;
  left:-7px;
  border-radius:100px;
  background-color: $prim-color;
  width:20px;
  .nombre{
    @include flexcenter;
    color:white;
    font-weight: normal;
  }
}   
.textetape{
  position:absolute;
  left:80px;
}      

/*restaurants*/
.restaurants2{
  font-size: 25px;
  margin-left: 15px;
  @include bold;
}
.restaurants{
  background-color: $quat-color;
  width:100%;
  padding:15px;
  .cartesresto{
    width:100%;
    .carte{
      display:block;
      width:100%;
      margin:0px;
    }
  }
}
.figure{
  margin:0px 15px 30px 15px;
  background-color:white;
  border-radius: 15px 15px 15px 15px;
  box-shadow:2px 3px 5px rgb(216, 214, 214) ;
  position:relative;
  .photoresto{
    display:flex;
    object-fit: cover;
    width:100%;
    max-height:200px;
    border-radius:15px 15px 0px 0px;
  }
}
.sticker{
  @include flexcenter;
  align-items: center;
  position:absolute;
  width:70px;
  height:25px;
  top:5%;
  right:5%;
  background-color:$tert-color;
  color:#318570;
  font-weight: bold;
  border-radius:2px;
}
.figresto{
  position:relative;
  padding-bottom:20px;
  .heart{
    position:absolute;
    font-weight: bold white;
    right:5%;
    top:20%;
    font-size:30px; 
  }
}

.nomsresto{
  @include bold;
  margin:0px;
  padding:10px 0px 0px 10px;
}
.villerest{
  margin:0px 0px 10px 10px;
}
/*footer menu*/
.footermenu{
  height:230px;
  @include footer;
}
.footer1{
  display:inline-block;
  padding:20px 0px 0px 20px;
  color:white;
  font-family: 'Shrikhand', cursive;
  margin:0px;
}

/*4 x menus resto*/
.containermenu{
  position:relative;
  background-color:rgba(241, 245, 244, 0.992);
  max-width: 900px;
  margin: auto;
  width:100%;
}
.titrefleche{
  display:flex;
  padding:10px 10px 10px 10px;
  width:100%;
  .fleche{
    display:flex;
    align-items:center;
  }
}
.titreresto{
  @include flexcenter;
  margin:auto;
  font-family: 'Shrikhand', cursive;
  font-size: 35px;
} 
/*header*/  
.photomenu{
  position:absolute;
  object-fit:cover;
  width:100%; 
}
.second{
  position:relative;
  top:200px;
  background-color:rgba(241, 245, 244, 0.992);
  border-radius: 30px 30px 0px 0px;
  padding:15px;
}
.restocoeur{
  display:flex;
  justify-content: space-between;
  margin:10px 30px 10px 10px;
  border-radius:20px 20px 0px 0px;
  .coeur{
    display:flex;
    align-items: center;
    margin:0px;
    font-size:30px;
  }
}
.nomresto2{
  display:flex;
  align-items: center;
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin:0px;
  @include bold;
}

/*entrées plats desserts*/
@import "./_animationmenu.scss";
.entrees, .plats, .desserts{
  padding:10px;
  ul{
    padding:0px;
    li{
      display:block;
      list-style-type: none;
      background-color:white ;
      border-radius:15px 15px 15px 15px;
      padding:0px;
      margin:0px 10px 10px 0px;
      &:hover{
        transition-duration: 2s;
        .check{
          display:flex;
          width:60px;
          height:100%;
          background-color:$tert-color ;
          border-radius:0px 15px 15px 0px;
          i{ 
            font-size: 25px;
            color:white;
            align-items: center;
            margin:auto;
            animation:rotate 1s;
            p{
              margin:0px;
              @include bold;
            }
          }
        }
      }
    }
  }
}
.check i{
  opacity: 0;
}
@keyframes rotate{
  from{
    transform:rotate(0deg);
    opacity:0;
  }
  to{
    transform:rotate(-360deg);
    opacity:1;
  }
}

.greenborder{
  border-top:3px solid $tert-color;
  width:40px;
}
.accomprixcheck{
  display:flex;
  justify-content: space-between;
  .accompagnementprix{
    display:inline;
    margin:10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    p{
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .accompagnement{ 
        margin:0px;
        padding-top:10px;
        font-weight:normal ;
      }
    }
  } 
}
.pricheck{
  display:flex;
  border-radius:0px 15px 15px 0px;
  .prix{
    display:flex; 
    align-items: center;
    padding:10px;
    @include bold; 
  }
}

/*bouton commander*/
.btcommander{
  @include flexcenter;
  padding-bottom:20px;
  .commander{
    display:flex;
    width:150px;
    height:35px;
    background: linear-gradient($second-color,$prim-color);
    border-radius:20px;
    justify-content: center;
    align-items: center;
    .textecommander{      
      color:white;
    }
  }
}
.commander:hover{
  box-shadow:2px 3px 10px rgb(63, 62, 62);
  background:linear-gradient(#f381d3,#a66cec);
}

/*footer restaurants*/
.footer{
  position:relative;
  bottom:-200px;
  @include footer;
}

/*media queries tablette*/
@media screen and(min-width: 768px) and (max-width:1281px) {
  .container { 
  max-width:1025px;
  margin: auto;
  width: 100%;
  } 
  /*menu selection*/
  .filtres{      
    display: flex;
    ol{
      flex-direction: row;
      justify-content:space-between;
      list-style-type: none;
      width: 100%;
      margin: auto;
      padding:15px;
      li{
        width:30%;
        position:relative;
        @include flexcenter;
        align-items: center;
        padding: 30px 30px 50px 30px;
        background-color: $quat-color;
        border-radius:20px;
        box-shadow:2px 3px 10px rgb(216, 214, 214);
        margin:0px 0px 20px 0px;
        .iconefonct{
          position:absolute;
          left:40px;
        }  
      }
    }
  }
  .textetape{
    position:absolute;
    left:80px;
  } 
  /*menu restaurants*/
  .restaurants{
    background-color: $quat-color;
    width:100%;
    padding:15px 20px 15px 20px;
    .cartesresto{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      .carte{
        display:flex;
        display:block;
        justify-content: space-between;
        width:47%; 
        margin:0px;
      }
    }
  }
  .restaurants2{
    margin-left: 40px;
  }
  .footermenu{
    max-width:1025px;
  }
}
/*media queries desktop*/
@media screen and(min-width:1282px) and (max-width:2000px) {
  .container { 
  max-width:1200px;
  margin: auto;
  width: 100%;
  }
  
  .footermenu{
    max-width:1200px;
  }
  @import "./_partiels.scss";
  
}